
Nanteza Angellah
Mar 26, 2024, 12:46 PM (10 days ago)
to me

/* The *::before and *::after selectors target pseudo-elements 
that are inserted before and after the content of every element respectively*/
*,
*::before,
*::after{
    margin: 90;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    /* height: 100vh; */
    height: 100%;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
    /* background-image: url(./back\ 4.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    }

#video-background {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }


.container{
    width: 50%;
    height: 50%;
    min-height: 400px;
    padding: 30px;
    background: transparent;
    border: 2px solid #e6b7eca1;
    border-radius: 10px;
    backdrop-filter: blur(15px);

}
 h1 {
    color: #eee;
    text-align: center;
    margin-bottom: 36px;
    }

.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100%;
    
    }
.todo-input{
    flex: 10;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    border: 2px solid #e6b7eca1;
    border-radius: 10px;
    color: #eee;
    font-size: 16px;
    margin-right: 10px;
    border-bottom: 10%;

}
.todo-input::placeholder{
    color: #bfbfbf;
}

.add-button{
    border: none;
    outline: none;
    background: #e6b7eca1;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.empty-image{
    margin: 55px auto 0;
    display: block;
    
}

.todo{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #463c7b;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 12px;
    transition: all 0.2s ease;

}

.todo:first-child{
    margin-top: 0;

}

.todo:last-child{
    margin-bottom: 0;
}

.todo.todo:hover{
    background-color: #e6b7eca1;
}

.todo label{
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

.todo span{
    padding-left: 20px;
    position: relative;
    cursor: pointer;

}

span::before{
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 100px;
    position: absolute;
    margin-left: -30px;
    border: 2px solid #e6b7eca1;
}

input[type='checkbox']{
    visibility: hidden;
}

input:checked + span{
    text-decoration: line-through;

}

.todo:hover input:checked + span::before, input:checked + span::before{
    background: url(./check.svg) 50% 50% no-repeat #09bb21;
    border-color: #09bb21;
}

.todo.delete-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #eee;
    font-size: 24px;
}

.todos-container::-webkit-scrollbar{
    width: 0;
}

.todos-container::-webkit-scrollbar{
    width: 7px;
}

.todos-container::-webkit-scrollbar-thumb{
    background-color: #d5d5d5;
    border-radius: 20px;
}

.filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

}

.filter{
    color: #eee;
    padding: 5px 15px;
    border-radius: 100px;
    border: 2px solid #e6b7eca1;
    transition: all 0.2s ease;
    cursor: pointer;
}

.delete-all{
    display: flex;
    color: #eee;
    padding: 7px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.delete-all:hover{
    border-radius: 5px;
    background-color: #e6b7eca1;
}